<h1>Add a New Contact</h1>

<form action="/" method="post">
  <label for="firstName">First Name</label>
  <input id="firstName" name="firstName" type="text"><br>
  <label for="lastName">Last Name</label>
  <input id="lastName" name="lastName" type="text"><br>
<br>
  <button type="submit" class="btn btn-info">Add Contact</button>
</form>
